@charset "UTF-8";
/*
기본 초록: #006400
포인트 초록: #0c400c
*/
/* 폰트 가져옴(보통 눈누 사이트에서 많이 찾아옴; https://noonnu.cc/index) */
@font-face{
	font-family: 'RIDIBatang';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 모든 요소에 명령어를 줘라(*) */
*{
	font-family: 'RIDIBatang';
	/* 폰트 크기 */
	font-size: 16px;
	/* 폰트 라인 높이 */
	line-height: 24px;
	/* 폰트 굵기	*/
	font-weight: 400;
	color: #3d3d3d;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance:none;
	margin: 0;
}
input[type="number"]{
	-moz-appearance: textfield;
}
/* 바디 스크롤바 숨김 */
body::-webkit-scrollbar{
	display: none;
}
#body{
	width: 100%;
	min-height: calc(100vh - 180px);
	padding: 100px 0 80px 0;
	/* 패당값 부여 */
}
.main_section{
	/* 마진값 부여 */
	margin: 100px auto 0 auto;
}
/* 
패딩과 마진의 차이점
패딩: 영역 안쪽에 여백을 줌
마진: 영역 바깥쪽에 여백을 줌
*/
h1{
	/* 폰트 사이즈 */
	font-size: 32px;
	/* 폰트 줄 간격 */
	line-height: 48px;
	/* 폰트 굵기 */
	font-weight: bold;
	/* 텍스트 정렬을 지정 */
	text-align: center;
	margin: 50px auto 20px auto;
}
p{
	margin: 0;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea{
	width: 100%;
	height: 100%;
	/* 디폴트 테두리 없애기 */
	border: none;
	/* 눌렀을 때 진한 테두리 없애기 */
	outline: none;
	/* textarea 사이즈 조절 없애기 */
	resize: none;
	padding: 0 10px;
}
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
textarea:placeholder{
	/* 폰트 컬러 */
	color: #999;
}
textarea{
	width: 100%;
	height: 300px;
	padding: 10px;
	resize: none;
	border: none;
	outline: none;
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url('../image/common/arrow_dw.png') no-repeat calc(100% - 5px) 50%/20px auto;
	transition: 0.2s;
}
select:focus{
	transition: 0.2s;
	background: url('../image/common/arrow_up.png') no-repeat calc(100% - 5px) 50%/20px auto;
}
p.no_data_txt{
	font-size: 16px;
	line-height: 36px;
	font-weight: 500;
	color: #999;
	text-align: center;
	padding: 50px 0;
	margin: 0 auto;
}
input[type="file"]{
	/* 여러 줄을 강제로 한 줄로 만들기(단, 한 줄로 만들고 싶은 태그들을 감싼 태그에 해당 명령어를 줘야 함 */
	display: flex;
	/* 여러 줄을 강제로 한 줄로 만들 때 줄 바꿈이 안 되도록 강제로 막음;
	반대로 flex-wrap: wrap 을 주면 범위를 벗어날 때 벗어난 요소들이 밑줄로 내려감 */
	flex-wrap: nowrap;
	/* 한 줄의 세로 정렬을 지정, start/center/end/stretch 등등이 존재 */
	align-items: center;
}
input[type="file"]::file-selector-button{
	font-family: 'RIDIBatang';
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	/*테두리 r값 지정*/
	border-radius: 5px;
}
/*입력창 인풋 버튼들 css*/
.input_btn{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 40px auto 0 auto;
}
.input_btn input[type="submit"],
.input_btn input[type="reset"],
.input_btn input[type="button"],
.input_btn button{
	/*inline, inline-block, flex 등의 display 다른 요소가 한 줄로 꽉 차게 보이도록 명령*/
	display: block;
	width: 100px;
	height: 40px;
	color: #556B2F;
	border: 1px solid transparent;
	background-color: transparent;
	border-radius: 5px;
	margin: 0;
}
.input_btn button + button{
	margin-left: 20px;
}
.input_btn input[type="submit"],
.input_btn button.bg{
	color: #f9f9f9;
	background-color: #556B2F;
}
.input_btn input[type="submit"]:hover,
.input_btn button.bg:hover{
	background-color: #384522;
}
.input_btn input[type="reset"],
.input_btn input[type="button"],
.input_btn button.bd{
	border-color: #556B2F;
}
.input_btn input[type="reset"]:hover,
.input_btn input[type="button"]:hover,
.input_btn button.bd:hover{
	color: #384522;
	border-color: #384522;
	background-color: #38452210;
}
input[type="radio"] + span{
	position: relative;
	display: block;
	/*최소 넓이 지정*/
	min-width: 20px;
	width: 20px;
	/*최대 넓이 지정*/
	max-width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #e1e1e1;
	border-radius: 20px;
	background: #fff;
	margin: 0 10px 0 0;
}
input[type="radio"] + span > span{
	/*요소들 위치 배정*/
	/*https://creamilk88.tistory.com/197 참고*/
	position: absolute;
	min-width: 10px;
	width: 10px;
	max-width: 10px;
	height: 10px;
	border: none;
	background: #ddd;
	margin: 0;
	border-radius: 20px;
	/*부모 요소로부터 top 값을 얼만큼 줄지*/
	top: 50%;
	/*부모 요소로부터 left 값을 얼만큼 줄지*/
	left: 50%;
	/*얼만큼 이동할지*/
	transform: translate(-50%, -50%);
}
/*radio 버튼에 명령 주기*/
input[type="radio"]:checked + span{
	border-color: #556B2F;
	background: #556B2F;
}
/*radio 버튼에 명령 주기*/
input[type="radio"]:checked + span > span{
	background: #f9f9f9;
}
/*alert 팝업*/
.common_fixed_bg{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	/*순서 지정(z-index 숫자 값이 높을 수록 레이어가 더 위에 배정*/
	z-index: 5;
	background-color: #000000;
	/*투명도 지정*/
	opacity: 0.5;
	/*안 보이게*/
	display: none;
}
.common_alert_whole{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 6;
	display: none;
}
.common_alert_box{
	position: absolute;
	width: calc(100% - 100px);
	max-width: 350px;
	height: auto;
	padding: 20px 25px;
	background-color: #f9f9f9;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p.common_alert_title{
	font-size: 20px;
	line-height: 29px;
	font-weight: bold;
	color: #3d3d3d;
	text-align: center;
	margin: 0 auto;
}
p.common_alert_subtxt{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
	text-align: center;
	margin: 10px auto 20px auto;
}
.common_fixed_btn_whole{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
button.common_fixed_btn{
	display: block;
	min-width: 100px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	line-height: 44px;
	font-weight: 400;
	color: #f9f9f9;
	border: 1px solid transparent;
	background-color: #006400;
	border-radius: 5px;
}
button.common_fixed_btn:hover{
	background-color: #0c400c;
}
p.common_subtitle_txt{
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
	color: #777;
	text-align: center;
	margin: 0 auto;
}
/*최소 넓이 00에 대한 css를 따로 부여(반응형 페이지)*/
@media (min-width: 1250px){
	#body{
		width: calc(100vw - 200px);
		/*최소 높이*/
		min-height: calc(100vh - 130px);
		margin-left: auto;
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.main_section{
		width: calc(100% - 40px);
		max-width: 1300px;
		margin-top: 100px;
	}
}
@media (max-width: 359px){
	#body{
		min-height: calc(100vh - 280px);
		padding-bottom: 230px;
	}
}