@charset "UTF-8";
footer.soccer,
footer.soccer *{
	cursor: url('../image/soccer/cursor/cursor.png'), auto !important;
}
footer.baseball,
footer.baseball *{
	cursor: url('../image/baseball/cursor/cursor2.png'), auto !important;
}
#footer{
	position: fixed;
	width: calc(100vw - 40px);
	min-height: 60px;
	height: auto;
	color: #f9f9f9;
	text-align: center;
	background-color: #b0c4b0;
	padding: 10px 20px;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.footer_flex{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
}
.footer_logo{
	width: max-content;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}
footer.soccer .footer_logo:hover,
footer.soccer .footer_logo:hover *{
	cursor: url('../image/soccer/cursor/pointer.png'), auto !important;
}
footer.baseball .footer_logo:hover,
footer.baseball .footer_logo:hover *{
	cursor: url('../image/baseball/cursor/pointer2.png'), auto !important;
}
.footer_flex p{
	font-size: 14px;
	margin-top: 6px;
}
.footer_logo img{
	display: block;
	width: 26px;
	height: auto;
	background-size: contain;
}
.footer_logo p.logo_txt{
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #3d3d3d;
    font-family: 'SF_HambakSnow';
    margin: 0 0 0 5px;
}
.footer_flex p + p{
	font-size: 15px;
}
.footer_flex a{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	line-height: 22px;
	font-weight: 300;
	color: #006400;
	border-bottom: 1px solid #006400;
	padding-bottom: 1px;
}
footer.soccer .footer_flex a,
footer.soccer .footer_flex a *{
	cursor: url('../image/soccer/cursor/cursor.png'), auto !important;	
}
footer.soccer .footer_flex a:hover,
footer.soccer .footer_flex a:hover *{
	color: #f9f9f9;
	border-color: #f9f9f9;
	cursor: url('../image/soccer/cursor/pointer.png'), auto !important;	
}
footer.baseball .footer_flex a,
footer.baseball .footer_flex a *{
	cursor: url('../image/baseball/cursor/cursor2.png'), auto !important;	
}
footer.baseball .footer_flex a:hover,
footer.baseball .footer_flex a:hover *{
	color: #f9f9f9;
	border-color: #f9f9f9;
	cursor: url('../image/baseball/cursor/pointer2.png'), auto !important;	
}
.footer_flex a span{
	display: block;
	min-width: 20px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background: url("../image/member/write_gr.png") no-repeat;
	background-size: contain;
}
.footer_flex a:hover{
	text-decoration: none;
}
.footer_flex a:hover span{
	background: url("../image/member/write_wh.png") no-repeat;
	background-size: contain;
}
@media (min-width: 1250px){
	#footer{
		width: calc(100vw - 240px);
		min-height: 60px;
		margin-left: auto;
	}
	.footer_logo + p{
		font-size: 16px;
	}
}
@media (max-width: 359px){
	#footer{
		min-height: 80px;
	}
	.footer_flex{
		display: block;
	}
	.footer_flex p{
		font-size: 14px;
	}
	.footer_flex + p{
		font-size: 12px;
	}
}